////////////////////////////////////
/* Common Page Styling            */
////////////////////////////////////
@media (max-width: 1200px) {
    .sidebar {
        display: none;      /* Hide the sidebar */
    }

    .main-content {
        flex-basis: 100% !important;      /* Remove the left margin when sidebar is hidden */
        margin: 0.5rem;
    }
}

.sidebar {
    width: 12%;              /* 50% less width */
    max-width: 300px;
    padding: 1rem;
    height: calc(100vh - 250px);
    position: sticky;        /* Stick vertically while scrolling */
    top: calc(70px + 1.6rem + 1.5rem);               /* Maintain a top margin */
    margin-top: calc(1.6rem + 1.5rem);
    overflow: hidden;
}

.main-content {
    flex-basis: 70%;         /* Main content with more width */
    max-width: 1320px;       /* Set a maximum width for the main content */
}

.content-wrapper {
    display: flex;
    gap: 0;                  /* Remove gap between columns */
    justify-content: center; /* Center the entire content wrapper */
    align-items: flex-start; /* Align items at the top */
}

.white-box {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-placeholder {
    height: 60px;
    @media (max-width: 991px) {
           height: 30px !important;
    }
}

////////////////////////////////////
/* Top navigation for single page */
////////////////////////////////////
.post-navigation {
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.nav-links > a {
    color: $primary;
    flex: 1;
    display: inline-block;
    white-space: nowrap;     /* Prevents text from wrapping to the next line */
    overflow: hidden;        /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds ellipsis (...) when the text overflows */
    max-width: 100%;         /* Ensures it respects the parent container's width */

    &:hover {
        text-decoration: underline !important; 
    }
}

.link-disabled {
    color: $gray-600;
    font-style: italic;
}
////////////////////////////////////
/* Responsive text to hide parts 
of it on small screen             */
////////////////////////////////////


.hidden-on-small {
    display: inline;
}

@media (max-width: 768px) {
    .hidden-on-small {
        display: none !important;
    }
}

