//
// hero.scss
//

@media (max-width:767px) {
    .classic-hero-image img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 991px) {
    .hero {
        height: calc(100vh - 30px) !important;
    }
}

.hero {
    background-size: cover;
    padding-top: 70px;
    height: calc(100vh - 60px);
}

.linkedin-follow {
    margin-top: 10px;
  }