//
// _table.scss
//

:root {
    --table-hover-bg: rgba(0, 0, 0, 0.075);
}

[data-dark-mode] {
    --table-hover-bg: rgba(255, 255, 255, 0.075);
}

// Default Table
table {
    --bs-table-color: var(--text-default);
    --bs-table-bg: transparent;
    --bs-table-accent-bg: none;
    --bs-table-striped-color: var(--text-default);
    --bs-table-striped-bg: var(--alert-primary-bg);
    --bs-table-hover-color: var(--text-default);
    --bs-table-hover-bg: var(--table-hover-bg);

    border: 1px solid var(--card-border-color);
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0;
    color: var(--text-default);
    font-size: 0.875rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;

    

    > :not(caption) > * > * {
        padding: 1rem 1rem;
        border-bottom-width: 0;
    }

    tbody {
        vertical-align: top;
    }

    thead tr th {
        text-transform: uppercase;
        background: rgba($gray-200,1);
    }

    td, th {
        border: 1px solid var(--card-border-color);
        padding: 8px 12px;
    }
}

/* Ensure the table's corners remain rounded */
table tr:first-child th:first-child {
    border-top-left-radius: 8px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 8px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}


// Shortcode Table
.table {
    border: 1px solid var(--card-border-color);
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    thead tr th {
        text-transform: uppercase;
        background: rgba($gray-200,1);
    }
}

.table-sm,
.table-striped,
.table-borderless,
.table-hover,
.table-striped-columns {
    > :not(caption) > * > * {
        padding: 0.6rem 0.6rem;
    }
}

@media (max-width: 1199px) {

    .table-sm,
    .table-striped,
    .table-borderless,
    .table-hover,
    .table-striped-columns {
        > :not(caption)>*>* {
            padding: 0.6rem 0.25rem;
        }
    }
}

.table-xs {
    > :not(caption) > * > * {
        padding: 0.25rem 0.25rem;
    }
}

.table-borderless {
    > :not(caption)>*>* {
        border-bottom-width: 0 !important;
    }

    td:first-child {
        border-left-width: 0 !important;
    }

    td:last-child {
        border-right-width: 0 !important;
    }

    tr:first-child td {
        border-top-width: 0 !important;
    }
}

.table-striped-columns > :not(caption) > tr > th:nth-child(2n) {
    --bs-table-striped-bg: none;
}

// Responsive Table
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}