/* Container to center the image */
.image-container {
    text-align: center;
}

/* Responsive image styling */
.responsive-image {
    display: inline-block;
    width: 75%; /* Default for larger screens */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
    .responsive-image {
        width: 100% !important; /* Full width on mobile screens */
    }
}

#consent-banner {
    display: none; /* Initially hidden */
    flex-direction: column; /* Stack text above buttons */
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gray-100;
    padding: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 9999;
}

#consent-banner button {
    margin: 0 10px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#consent-banner button#accept-cookies {
    background-color: #0066ff;
    color: white;
}

#consent-banner button#decline-cookies {
    background-color: #0066ff;
    color: white;
}

/* Display banner if JavaScript enables it */
#consent-banner.visible {
    display: flex; /* Show the banner when JavaScript adds the "visible" class */
  }

/* Footer Link Styling */
#manage-cookies-link {
    text-decoration: underline;
    cursor: pointer;
  }
  
  #manage-cookies-link:hover {
    text-decoration: none;
  }

body h2 {color: #3a82b2 }
body h3, h4 { color: #375f8b }
body h5, h6 { color: #477797 }