/* Container to center the image */
.image-container {
    text-align: center;
}

/* Responsive image styling */
.responsive-image-big {
    display: inline-block;
    width: 100%; /* Default for larger screens */
    height: auto; /* Maintain aspect ratio */
}

.responsive-image-default {
    display: inline-block;
    width: 75%; /* Default for larger screens */
    height: auto; /* Maintain aspect ratio */
}

.responsive-image-medium {
    display: inline-block;
    width: 50%; /* Default for larger screens */
    height: auto; /* Maintain aspect ratio */
}

.responsive-image-small {
    display: inline-block;
    width: 25%; /* Default for larger screens */
    height: auto; /* Maintain aspect ratio */
}

.show-on-mobile {
    display: none; /* Hide on larger screens */
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
    .responsive-image-default,
    .responsive-image-big
    .responsive-image-medium,
    .responsive-image-small {
        width: 100% !important; /* Full width on mobile screens */
    }
    .hide-on-mobile { 
        display: none;
    }
    .show-on-mobile {
        display: block; /* Show on mobile screens */
    }
    .responsive-text-center {
        text-align: center; /* Center text on mobile */
    }
}

#consent-banner {
    display: none; /* Initially hidden */
    flex-direction: column; /* Stack text above buttons */
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gray-100;
    padding: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 9999;
}

#consent-banner button {
    margin: 0 10px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#consent-banner button#accept-cookies {
    background-color: #0066ff;
    color: white;
}

#consent-banner button#decline-cookies {
    background-color: #0066ff;
    color: white;
}

/* Display banner if JavaScript enables it */
#consent-banner.visible {
    display: flex; /* Show the banner when JavaScript adds the "visible" class */
  }

/* Footer Link Styling */
#manage-cookies-link {
    text-decoration: underline;
    cursor: pointer;
  }
  
  #manage-cookies-link:hover {
    text-decoration: none;
  }

body h2 {color: #3a82b2 !important}
body h3, h4 { color: #375f8b !important}
body h5, h6 { color: #477797 !important}

.custom-blockquote {
    background-color: rgba($primary, 0.1); /* Light blue background */
    border-left: 5px solid $primary; /* Blue left border for emphasis */
    padding: 15px;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0; /* Adds spacing around the blockquote */
}

.custom-blockquote p {
    margin-top: 0; /* Prevents extra top space */
    margin-bottom: 0.5rem; /* Keeps paragraph spacing */
}

.custom-blockquote p:last-child {
    margin-bottom: 0; /* Removes bottom margin from last paragraph */
}