.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: auto;
}
.card-title {
    margin-bottom: 0;
}
.card-img-left {
    width: 30%;
    max-height: 300px;
    object-fit: cover;
}
.card-details {
    width: 70%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tag-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.card-text {
    text-align: left;
    justify-content: center !important;
    margin-top: 10px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}